USE [master]
GO
/****** Object:  Database [Angular6_Demo]    Script Date: 26-05-2018 06:44:33 ******/
CREATE DATABASE [Angular6_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Angular6_Demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angular6_Demo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Angular6_Demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angular6_Demo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Angular6_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Angular6_Demo]
GO
USE [Angular6_Demo]
GO
/****** Object:  Table [dbo].[Demo]    Script Date: 26-05-2018 06:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Demo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Demo] ON 

INSERT [dbo].[Demo] ([Id], [Name]) VALUES (1, N'bhavdip')
SET IDENTITY_INSERT [dbo].[Demo] OFF
USE [master]
GO
